.content {
  min-height: 90vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dropdown-toggle {
  height: 50px;
}

form {
  display: flex;
  align-items: center;
}

button[type="submit"] {
  background: url("../assets/search.svg") no-repeat;
  background-position: center;
  height: 50px;
  width: 50px;
}

input {
  width: 500px;
  height: 50px;

  border-radius: 8px;
  border: 1px solid;

  padding: 10px;
  box-sizing: border-box;
  margin: 20px;
}

.content div.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  margin-top: -100px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-style: italic;
  color: blue;
  font-weight: bolder;
}

.content div.logo h1 {
  font-size: 80px;

  margin-bottom: 10px;
}
@media only screen and (min-width: 990px) {
  .show-only-toggled {
    display: none;
  }
}
@media only screen and (max-width: 990px) {
  .show-only-untoggled {
    display: none;
  }
}

@media only screen and (max-width: 850px) {
  .content div.logo {
    height: 150px;
  }
  .content div.logo h1 {
    font-size: 50px;
  }

  input {
    width: 300px;
    height: 50px;
    margin: 10px;
  }
}

@media only screen and (max-width: 530px) {
  .dropdown-toggle {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
  }

  .dropdown-menu {
    width: 90vw;
  }
}
